
@{
    ViewBag.Title = "NotAuthenticated2";
}

<h2>Not hi Authenticated</h2>
<h3>User does not have access to this functionality at this time. Please log into the correct account to make this change.</h3>

fgfg