@{
    ViewBag.Title = "About";
}

<h1> ABOUT THE APPLICATION</h1>
<p>This application is an internal system that provides capabilities to interact with employees at Centric. Here you can learn more about your colleagues. Most importantly, this application is here so you can RECOGNIZE employees for their hard work and setting examples by following our core values</p>
