@{
    ViewBag.Title = "About";
}

<h1 align="center">About this application</h1>
<p align="center" style="font-size:24px">This application is an internal system that provides capabilities to interact with employees at Centric. Here you can learn more about your colleagues. Most importantly, this application is here so you can RECOGNIZE employees for their hard work and setting examples by following our core values</p>
<br />
<div class="jumbotron">
    <img src="https://centricconsulting.com/wp-content/uploads/2012/06/CentricCoreValues1.jpg" alt="Hi" width="350">
    <a name="top"></a>
</div>
<div align="left" style="font-size:20px; color:white;">
<p><a href="#stewardship" style="color:white"> 1. Stewardship - Practice Responsible Stewardship</a></p>
<p><a href="#examples"style="color:white"> Examples of Exemplifying this Core Value</a></p>
<p><a href="#integrity"style="color:white"> 2. Integrity & Openness - Embrace Integrity and Openness</a></p>
<p><a href="#examples2"style="color:white"> Examples of Exemplifying this Core Value</a></p>
<p><a href="#innovation"style="color:white"> 3. Innovation - Strive to Innovate</a></p>
<p><a href="#examples3"style="color:white"> Examples of Exemplifying this Core Value</a></p>
<p><a href="#greater"style="color:white"> 4. Greater Good - Ignite Passion for the Greater Good</a></p>
<p><a href="#examples4"style="color:white"> Examples of Exemplifying this Core Value</a></p>
<p><a href="#delivery"style="color:white"> 5. Delivery Excellence - Commit to Delivery Excellence</a></p>
<p><a href="#examples5"style="color:white"> Examples of Exemplifying this Core Value</a></p>
<p><a href="#culture"style="color:white"> 6. Culture - Invest in an Exceptional Culture</a></p>
<p><a href="#examples6"style="color:white"> Examples of Exemplifying this Core Value</a></p>
<p><a href="#balance"style="color:white"> 7. Balance – Live a Balanced Life</a></p>
<p><a href="#examples7"style="color:white"> Examples of Exemplifying this Core Value</a></p>
    </div>

<a name="stewardship">
    </a>

    <div id="stewardship" class="jumbotron">
        <h2>1. Stewardship - Practice Responsible Stewardship</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <h3>Intention</h3>
        <ul>
            <li>We value stewardship and fiscal accountability and always strive to do more with less.  We guard and conserve company resources as if they were our own because it makes good business sense at all times; not just during lean times.</li>
            <li>We invest in areas which will contribute to the long-term sustainability of our company.</li>
            <li>We are focused and serious about the operations of our business.  We believe in working hard and putting in the extra effort to get things done.  In order to stay ahead of the competition, we continuously innovate as well as make incremental improvements to our operations, always striving to make ourselves more efficient and finding ways to do things better</li>
        </ul>
        <h3>Visioning</h3>
        <p>
            <button data-toggle="collapse" data-target="#demo">Read the story behind stewardship</button>

            <div id="demo" class="collapse">
                As the leaders of the company sat down to sketch out the 5 year strategic growth plan for the organization, they carefully evaluated projected cash flow and reserves.  Given the economic challenges, it was decided to postpone the opening of a new office in North Carolina for a year.  Since they had a highly qualified individual selected to launch that office, Andrea, they brought her into the organization to take on an interim role until the economic conditions turned around and the company could comfortably invest and move forward.
                Andrea approached her interim work with enthusiasm and made all of her decisions as if she were a partner in the company.  She booked all of her travel using an aggregator site to find the very best pricing on airfare, rental cars and hotels.  She was able to stay at quality hotels for a fraction of the cost of the discount chains.  She always asked herself if it was her checkbook, was she getting the most for her money.  Andrea’s example led others on her team to follow suit and find restaurants that exceeded expectations on quality and were easy on the wallet.
                Andrea’s interim project was unexpectedly targeted as part of the client’s mid-year budget cutting exercise.  Two of her teammates ended up back on the Centric bench.  While new roles were being identified, they both took on internal initiatives which were challenging and needed to support recent growth of the company.  They learned firsthand that leveraging consultants on the bench who are between billable roles has enabled Centric to limit the overhead associated with back office operations while continuing to expand the organization and improve the efficiency.
                Andrea was able to directly contribute to the vision of turning Centric into a 100 year sustainable for many generations to come company through her daily actions which exemplified the core values.
            </div>
            
        </p>
    </div>

<a name="examples">
    </a>
    <div id="examples" class="jumbotron">
        
        <h2>Examples of Conduct Exemplifying this Core Value</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <p>Treat the company resources as if they were your own.  For example, use discount travel sites for booking travel reservations and carpool to company meetings.</p>
        <ul>
            <li>Use discretion when entertaining clients and select cost conscious venues when possible.</li>
            <li>Centric has never done a lay-off and are striving to be in business for 100 years, therefore all decisions are made with this frame of reference.</li>
            <li>We are fiscally conservative and maintain large cash reserves.  This means slower growth, but it protects employees in recessionary times and allows us to maintain control over our own destiny.</li>
        </ul>

    </div>

<a name="integrity">
    </a>
    <div id="integrity" class="jumbotron">
        <h2>2. Integrity & Openness - Embrace Integrity and Openness</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <b>Intention</b>
        <ul align="left">
            <li>We set and live by the highest ethical standards in all our dealings whether it is internal or external. </li>
            <li>We value strong, positive relationships that are open and honest.  This is a big part of what differentiates Centric and allows us to accomplish much more than we would be able to otherwise.</li>
            <li>We always act with integrity in our relationships, and demonstrate compassion, loyalty, and honesty.</li>
        </ul>


        <h3>Visioning</h3>
        <p>
            <button data-toggle="collapse" data-target="#demo2">Read the story behind integrity and openness</button>

            <div id="demo2" class="collapse">
                Adriana and Jonathan from the Miami business unit developed a relationship with Get-Away Cruise Lines which quickly led to an opportunity to build a custom SharePoint solution.  The fact that there were not any employees in Miami with SharePoint experience was not an obstacle to accepting this challenging project.
                The Atlanta Solution Center quickly stepped in and provided knowledgeable resources to help craft a winning proposal response and a team of talented individuals who could develop the solution remotely.  The Miami office provided all of the other resources required to successfully manage and execute the project, including Business Analysts, Quality Assurance and integration specialists.
                Unfortunately, midway through the engagement, the client requested a series of changes to the original specification.  This would change the original design and create some re-work for the development team that had already begun building the solution.  José, the Project Lead, knew that an honest conversation with the client sponsors was needed because of the impact to the timeline and the team if they moved ahead with the requested changes.  He was not willing to over-commit his team for the sake of client satisfaction given the risk of burnout and poor delivery results from working too many hours.
                The Delivery Excellence team assigned to the engagement, Noah and Olivia, met with the client sponsors and José to work through the dilemma.  They used the Crucial Conversation techniques that all Centric employees integrate into their consulting tool box to create an open, honest dialogue to determine the best course of action to meet their needs.  They were able to establish a new direction and timeline that allowed the team to successfully deliver the additional features that Get-Away Cruise Lines desired, while maintaining work-life balance for the team.
                A few weeks later, the schedule showed signs of slipping.  Frank, a developer from another consulting firm who was a member of the project team, began regularly missing deadlines.  José was once again challenged to address this situation which threatened to derail the entire project schedule if it continued.  Frank always had a legitimate reason for missing his deadlines, so the first and second occurrences were overlooked when he promised not to let it happen again.  When it happened again, José decided he needed to sit down with Frank and have a dialogue.
                Jose started by admitting to Frank that he had not adequately focused on the due dates for assigned work on the project and had been distracted by other tasks on his list.  He committed to doing a daily 15 minute stand up each morning to review progress and identify issues being encountered for each team member.  Frank immediately relaxed as he had been worrying about his missed deadlines.  He candidly talked to José about the difficulty he was having with a particular feature he was coding and admitted he was trying to squeeze out some additional time to work out the bug.
                José talked to him about how they could approach the problem so that Frank had the support that he needed and collectively decided to pull in a Senior Developer on the team to review the code and assist.  By the next afternoon, the issue was resolved and all of the tasks were back on schedule.  The sense of collaboration and trust was increased on the team and José was reminded that it is better to have a difficult conversation and head off problems before they have a chance to take root.Together, the team members from Miami and the Atlanta Solution Center far exceeded the CIO’s expectations at Get-Away Cruise Lines on the project delivery and established a foundation of trust through the ongoing open dialogue.   Get-Away became an anchor account for Miami bringing in approximately 10% of the annual revenue target for the business unit.  Another challenge that had surfaced early in the engagement was that the typical project delivery model was not working well in this environment.  The team brainstormed options and implemented  a creative customized approach utilizing Centric’s internal SharePoint project collaboration site that enabled Get-Away Cruise Lines SMEs to view and edit business requirements quickly vastly expediting the requirements gathering process while at the same time improving the quality of the requirements.
                In the process of working through a new model that seamlessly integrated the Solution Center team, the relationships established brought employees together in a collaborative, positive way.  Not only were the work products high quality, but all of the team members loved coming to work every day and finding ways to contribute and collaborate.
                The team walked away with a greater appreciation for the benefits of trust, honesty and transparency in how they deal with each other and their clients which is what helps keeps Centric strong and differentiates Centric from most of the competition!
            </div>
           
        </p>
    </div>

<a name="examples2">
    </a>
    <div id="examples2" class="jumbotron">
        <h2>Examples of Conduct Exemplifying this Core Value</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <ul>
            <li>In our dealings with trusted partners and contractors we openly share financial metrics.</li>
            <li>Every project has issues - we share potential problems with our clients along with steps we are taking to mitigate the issues.</li>
            <li>We enlist client participation in resolving issues as appropriate – we do not allow issues to fester.</li>
        </ul>
    </div>

<a name="innovation">
    </a>
    <div id="innovation" class="jumbotron">
        <h2>3. Innovation - Strive to Innovate</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <h3>Intention</h3>
        <ul>
            <li>We constantly seek to foster an entrepreneurial, hard-working, fun loving culture that encourages innovation and prudent individual or team risk taking within the context of our core values.</li>
            <li>Centric values passion, determination, perseverance, and innovation.   We are inspired because we believe in what we are doing and where we are going.  We believe in using innovation to remove obstacles and help our clients succeed in their goals.</li>
            <li>We value courageous, unconventional thinking and strive to bring an optimistic attitude to all that we do because we realize that this inspires others to have the same attitude.</li>
            
        </ul>
        <h3>Visioning</h3>
        <p>
            <button data-toggle="collapse" data-target="#demo3">Read the story behind innovation</button>

            <div id="demo3" class="collapse">
                Fahim was working with his client, Metropolis Industries, to come up with a solution that would increase the efficiency of their robotic assembly line.  The existing process required oversight by plant personnel while the line was running to minimize down-time when assembly of a particular component failed.  If they could come up with an automated way to monitor the activity and alert the on-call employees when a problem occurred, they could reallocate those staff members to other areas of the plant operations.  The stumbling block was that the manufacturer of the automated system would not allow modifications to the software or hardware that controlled the mechanisms.

                After another frustrating day of unsuccessful brainstorming with the R&D team, Fahim headed out to mow his lawn and half-way through an idea began to form.  What if they could develop an external mechanism that could be strategically placed along the assembly line to monitor activity and if it detected a change in the normal flow, would immediately send alerts via mobile phone and email to the on-call team?  This would get around the constraint of the manufacturer and provide an alternative solution.  He thought about it some more as he finished his lawn and headed inside to put together his idea to present the next day to his Centric colleagues to develop further.

                Fahim worked with the Centric Innovation and Research group to develop a design behind his idea.  They built several prototypes before finding the winning formula which tested out and was ready to be presented to the client for consideration.  The time Centric invested in thinking through and developing a working prototype was invaluable for the experience and synergies gained among the technology team members and the lessons learned were energizing to all.

                Barbara and Randy, the Senior Executives at Metropolis who had been working on this problem, were thrilled with Fahim’s idea and the prototype that Centric developed.  They immediately called together the R&D team to work with Fahim to test and refine the product in their environment.  Three weeks later, they were able to successfully implement the solution and reallocate some staff members to other critical areas in the plant that needed attention.

                The perseverance Fahim and the Centric team displayed and the willingness to take a risk had paid off.  They felt a great sense of accomplishment which was externally reinforced when they and the lead R&D researchers from Metropolis were recognized with the Innovator of the Year award.

                Innovation coupled with determination, prudent risk taking and the courage to pursue new ideas is a cornerstone of Centric’s success!
            </div>
        
        </p>
    </div>

<a name="examples3">
    </a>
    <div id="examples3" class="jumbotron">
        <h2>  Examples of Conduct Exemplifying this Core Value</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <ul>
            <li>Look for ways to take your own experience and share it with others in your BU and across Centric.  For example, if you have created a great tool for issue and bug tracking, package it in a way that it can be shared.</li>
            <li>When working with a client, look for ways to provide value outside of the current engagement.  For example, if you see that they are struggling with a particularly inefficient process look for opportunities to offer solutions.</li>
            <li>We do not go into proposals with a set methodology.  We hire talented people with broad experience that we know we can put onto a project and they will figure out what needs to be done, without following a set script.</li>
            
        </ul>
    </div>

<a name="greater">
    </a>
    <div id="greater" class="jumbotron">
        <h2>4. Greater Good - Ignite Passion for the Greater Good</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <h3>Intention</h3>
        <ul>
            <li>We embrace our Community Citizenship responsibilities by actively seeking innovative ways to safeguard the environment and make a positive difference in every community we serve.</li>
            <li>We take pride in our commitment to improving the world in which we live and take an active role in preserving our environment for future generations.  We are steadfast in our devotion to the communities we serve and in actively promoting employee involvement in community improvement projects.</li>
            <li>We believe in treating ourselves, each other, and the communities we serve with care and respect and we strive for a bond of fellowship.</li>
         
        </ul>
        <h3>Visioning</h3>
        <p>
            <button data-toggle="collapse" data-target="#demo4">Read the story behind igniting passion for the greater good</button>

            <div id="demo4" class="collapse">
                Jennifer, an Architect from the St. Louis business unit, was a passionate supporter of the ALS Foundation.  She rallied together a group of willing participants in an upcoming 5K walk to raise money for the organization.  It ended up being a great experience that helped to forge a deeper bond among the employees in St. Louis.   After completing the walk, they joined many newfound friends from the day in an outdoor BBQ sponsored by Centric.
                It turned out that Joshua, an acquaintance Jennifer made that day through the walk, was looking for a new employment opportunity with a company who not only valued their employees, but was engaged with the community to give back and make a difference.  He was soon talking with Maya, the business unit lead for St. Louis, about potential opportunities.  It turned out the 5K walk was the beginning of a long term relationship between Joshua and Centric.
                After joining Centric, Joshua helped to drive the completion of an Emergency Response Plan for the St. Louis office.  He worked with the City officials, the Red Cross and other local emergency response organizations to develop a plan that could be activated in the event of a natural disaster in the community.
                Two months later, a tornado with record-breaking wind speeds came directly through St. Louis.  Joshua along with the Community Ambassadors sprang into action to assist all of the Centric families affected by the storm and then quickly turned their attention to the countless other people whose homes were damaged or destroyed.  Maya and Joshua contacted all of their clients and explained how they would like to help in the community which would mean a reduced number of hours for those employees that were part of the outreach team.  100% of the clients not only supported Centric by allowing consultants the time off, but many rallied teams of individuals that joined with Centric to help those in need.  The client relationships were strengthened as a result and Centric was honored, along with several other organizations, for their contribution during the crisis.
                We embrace and share our passion for having a positive impact on our communities by getting involved and continually asking, "How can I help?".
            </div>
            
        </p>
    </div>
<a name="examples4">
    </a>
    <div id="examples4" class="jumbotron">
        <h2>  Examples of Conduct Exemplifying this Core Value</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <ul>
            <li>Voluntary contributions were collected for victims of Hurricane Katrina with a matching donation of those funds by the partners.</li>
            <li>Provide pro bono consulting services to community organizations that can benefit from our expertise.</li>
            <li>Each Business Unit makes an effort to do community projects together.  Examples include:  FlyWheel in Cincinnati, GiveCamp in Indianapolis, ALS walk in Chicago, Coat Drive in Cleveland, Rebuilding Together in Columbus, Marathon in Cincinnati.</li>
            
        </ul>
    </div>

<a name="delivery">
    </a>
    <div id="delivery" class="jumbotron">
        <h2>5. Delivery Excellence - Commit to Delivery Excellence</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <h3>Intention</h3>
        <ul>
            <li>We have a passion for consulting excellence!   In our dealings with clients we strive to first understand the client’s needs and then deliver on our commitments 100% of the time.</li>
            <li>Our employees differentiate themselves by doing things that are above and beyond what is expected.  We are not an average consulting company, our service is not average, and our people are not average.</li>
            <li>We expect every Centric employee to display a passion for excellence to our clients, co-workers, and partners.</li>
            
        </ul>
        <h3>Visioning</h3>
        <p>
            <button data-toggle="collapse" data-target="#demo5">Read the story behing delivering excellence</button>

            <div id="demo5" class="collapse">
                Duncan had been working for Oceanic Airlines for over a year, an anchor account for the Ann Arbor business unit. He continued to receive extensions on his work because of the outstanding results he had delivered. Jessie, the Application Manager who was responsible for the work Duncan was assigned, continued to find new opportunities to engage him and add value.
                Although Duncan was providing excellent delivery to Oceanic and exceeding their expectations, he saw that there were needs in other areas that could be an opportunity for Centric to help the client further. Duncan did not have much experience with .NET or SharePoint, but took it upon himself to take a self-study course in the evenings and leveraged the Tech Service Line and Service Offerings to increase his knowledge. He also joined the local .NET Technology Group in Ann Arbor to network and get to know others that could serve as mentors or become potential recruits for Centric.
                In a relatively short period of time, Duncan had gained enough background to approach Jessie and talk to her about how Centric might be able to assist their .NET development team. Because Duncan had taken the time to get some education and identify some of the needs before having this conversation, he and Jessie were able to quickly pinpoint some specific areas where Centric could step in and provide value.
                Duncan gathered the team together from the Ann Arbor office and worked with Stacy, the Business Unit Lead to identify resources. Due to Duncan’s new relationships from the .NET group, they were also able to recruit some additional people to strengthen the pool of development resources for Oceanic or other clients in the future.
                Meanwhile, creativity flowed in other areas of the team as was evidenced by the vacation request process that the project lead, Maggie developed to ensure that the project timeline was not affected when team members took time off. As the lead, she was able to encourage and support work-life balance throughout the duration of the delivery cycle. A victory for the client and employees.
                Tyler and Michelle, both Project Management Professionals, flexed other professional muscles by contributing to the project as Business Analysts. They enjoyed the stretch that the critical thinking required and learning about the latest technology solutions .NET and SharePoint could provide proved beneficial for the long term.
                Both took the experience they gained forward and identified new opportunities with other clients. Their willingness to take on a different role was personally invigorating and challenging and ultimately led them into new directions in their careers. Michelle talked to her business unit lead about other ways she could expand her skill set by taking roles outside of her core competence and Tyler began a blog on the internal company site to encourage others to seek roles that reach beyond their current skill set.
                Meanwhile, Duncan’s exceptional effort which went above and beyond average expectations, not only brought more work to the table for Centric, but strengthened his commitment to his client and gave him an enormous sense of satisfaction by having taken the initiative and conquered a new challenge. He went on to continue his education and become one of the key contributors on the .NET Centric team!
            </div>
            
        </p>
    </div>

<a name="examples5">
    </a>
    <div id="examples5" class="jumbotron">
        <h2>Examples of Conduct Exemplifying this Core Value</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <ul>
            <li>The Delivery Excellence program was created to ensure excellence in the delivery of medium and high risk projects.</li>
            <li>We tailor our approaches to fit the needs of the client, not to fit into our "methodology". We hire talented people with a broad range of experience that we know we can put onto almost any project and they will figure out what needs to be done, without following a set script.</li>
            <li>We strive for a WOW factor – something done above and beyond or extraordinary. Ask yourself, “What did you do for the client that would not have happened if we had not been here?”</li>
            
        </ul>

    </div>


<a name="culture">
    </a>
    <div id="culture" class="jumbotron">
        <h2>6. Culture - Invest in an Exceptional Culture</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <h3>Intention</h3>
        <ul>
            <li>We strive to hire and retain talented people from diverse backgrounds that are able to create high-impact for our clients and internally within Centric.</li>
            <li>We go to extraordinary lengths to hire the best and then make sure they are positioned in challenging roles where their abilities and professional experiences combine to deliver quality results that exceed client expectations.  Our goal is for Centric to be the place where our employees stay until they retire.</li>
            <li>We allow adequate time for employees to spend thoughtful time to do a job well, focus on what is important and be proactive, not reactive.</li>
            
        </ul>
        <h3>Visioning</h3>
        <p>
            <button data-toggle="collapse" data-target="#demo6">Read the story behind our culture</button>

            <div id="demo6" class="collapse">
                Ron had been moving through the phases of the Centric recruiting process for 9 months.  Both Centric and Ron were reaching a decision point after several conversations and 100% consensus among the existing Centric team members that Ron was a strong cultural fit and had the skill set and capabilities to contribute to the continued growth and success of the company.
                Ashley, the Business Unit Lead, was excited to present an offer of employment to Ron which he enthusiastically accepted.  After going through the on-boarding process and meeting fellow employees in his business unit, it was time to talk about billable roles.
                Ron sat down with his Business Unit lead, Ashley, to discuss an exciting new Project Management opportunity with Gotham Hospital.  Since Ron had never worked on-site at Gotham, Ashley carefully described the working environment there and encouraged Ron to reach out to Anne and Dhir who were already staffed there on the same project team to learn more.  Among many topics, Ron was most impressed when they shared how the Centric project lead managed the schedule to allow everyone on the team adequate time to engage in thoughtful critical thinking which leads to excellent results and higher job satisfaction.
                Ashley went through the project team structure currently in place and described the skill set requirements provided by the client liaison for the role.  In addition, there was a possibility of occasional travel, so she asked Ron if he would be ok with traveling to other cities on occasion as necessary.
                After considering all of the information, Ashley and Ron agreed that the role was a strong fit.  Not only was it complementary to his skill set, but it would provide Ron professional growth and a working environment that was a good fit for his work style and personality, all of which are important factors in staffing decisions.  Ashley’s goal is always to maximize the probability of exceeding client expectations and matching roles to employee preferences wherever feasible.  Ashley lives the core values of the company and that means that employee satisfaction is just as important as client satisfaction, so she works hard, as do all of the business unit leads, to strike the right balance between client needs, employee preferences and company objectives.
                Ron loves working for Centric and has recommended several of his professional colleagues for roles at Centric.  He enjoys the opportunity this type of referral process provides for a higher level of engagement and sense of satisfaction in helping to build a strong company for the future.
                Ron successfully completed his role at Gotham after 20 months on the assignment.  Although his coach had diligently worked with him throughout that time to ensure that he was not booking more than 45-50 hours per week and encouraging work-life balance as a priority, he was given a break with some intentional bench time to regenerate before taking another billable role.
                After a little time off, he joined an internal initiative chartered with developing ideas around maintaining a truly inclusive work environment within Centric as it continues to grow.  This brought a whole new dimension of learning and exposure to Ron including working with other colleagues from other business units within the Centric family.
                Ron also invested time studying agile project management to supplement his PMP credentials and stay current with his skill set until he took on a new and exciting role.  Ron found the availability of online web based training is a great cost effective way to remain current on state of the art technologies and management trends.
                The year came to a successful conclusion with the annual company trip.  He enjoyed spending a fun-filled, engaging weekend with all of his friends and colleagues at Centric and a mini-vacation with his wife.
            </div>
            
        </p>

    </div>
<a name="examples6">
    </a>
    <div id="examples6" class="jumbotron">
        <h2>Examples of Conduct Exemplifying this Core Value</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <ul>
            <li>Centric developed a program to raise awareness about issues of diversity across the company and set a goal of creating and maintaining a truly inclusive work environment.</li>
            <li>When determining the best consultant for a role, the client environment, project team structure, relevant skill set, duration and potential travel requirements are considered.  Careful deliberation goes into all staffing decisions to maximize the probability of exceeding client expectations and matching the role to the individual which contributes to employee satisfaction.</li>
            <li>Employees are given intentional bench time or additional time off after completing a long term assignment to allow a period of regeneration before beginning the next role.</li>
            
        </ul>
    </div>

<a name="balance">
    </a>
    <div id="balance" class=" = jumbotron">
        <h2>7. Balance – Live a Balanced Life</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <h3>Intention</h3>
        <ul>
            <li>At Centric, work-life balance is unique for each employee – hence rather than defining what work-life balance means in “generic” terms we strive hard to understand each individual’s definition and actively work with them to achieve the desired balance.</li>
            <li>Centric is not an “up-or-out” organization.  Our career model is designed to accommodate the needs of employees throughout their careers as their life and career priorities and goals change.  Centric team members are encouraged to continue to work with their coaches and BU Leadership to understand the trade-offs associated with career choices.</li>
            <li>Our employees are our greatest asset and people we value highly as individuals. We support everyone managing a work life balance that is aligned with their needs and we also actively monitor all engagements to ensure our owners and employees have time for family, community and personal interests.</li>
            
        </ul>
        <h3>Visioning</h3>
        <p>Not Applicable</p>
    </div>

<a name="examples7">
    </a>
    <div id="examples7" class="jumbotron">
        <h2>Examples of Conduct Exemplifying this Core Value</h2>
        <p align="right" style="font-size:10px"><a href="#top" style="color:black">Back to Top</a></p>
        <ul>
            <li>If someone wishes to stay at a certain level and focus more on work-life balance or put all of their focus into developing expertise in a particular technology, that individual will be supported in their chosen career path.</li>
            <li>Employees seek to support each other in achieving greater work-life balance.  Everyone must take personal accountability for managing work-life balance and asking for support to manage when needed.</li>
        </ul>


    </div>

