@{
    ViewBag.Title = "Main Contacts";
}
<h2>@ViewBag.Title.</h2>
<br />
<br/>

<div class="row">
    <div class="col-md-3">
        <h4>Gina Heffner</h4>
        <p><img src="~/Content/Images/img_gina.jpg" /></p>
        <p>Columbus, Director<br />
        Active<br/>
        <abbr title="Phone">P: </abbr>740.485.2910<br/>
        <abbr title="Email">E: </abbr><a href="mailto:gina.heffner@centricconsulting.com">gina.heffner@centricconsulting.com</a></p>
    </div>
    <div class="col-md-3">
        <h4>Brad Stagmyer</h4>
        <p><img src="~/Content/Images/img_brad.jpg" /></p>
        Columbus, Director<br/>
        Active<br/>
        <abbr title="Phone">P: </abbr>614.205.8112<br/>
        <abbr title="Email">E: </abbr><a href="mailto:brad.stagmyer@centricconsulting.com">brad.stagmyer@centricconsulting.com</a></p>
    </div>
    </div>

<div class="row">
    <div class="col-md-3">
        <h4>Gwenn Denorme</h4>
        <p><img src="~/Content/Images/img_gwenn.jpg" /></p>
        Columbus, Director<br/>
        Active<br/>
        <abbr title="Phone">P: </abbr>614.205.1384<br/>
        <abbr title="Email">E: </abbr><a href="mailto:gwenn.denorme@centricconsulting.com">gwenn.denorme@centricconsulting.com</a></p>
    </div>
    <div class="col-md-3">
        <h4>Doug Hood</h4>
        <p><img src="~/Content/Images/img_doug.jpg" /></p>
        Columbus, Director<br/>
        Active<br/>
        <abbr title="Phone">P: </abbr>614.599.3963<br/>
        <abbr title="Email">E: </abbr><a href="mailto:doug.hood@centricconsulting.com">doug.hood@centricconsulting.com</a></p>
    </div>
</div>
