@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric Employee Recognition Platform</h1>
    <p class="lead">Here at Centric we care about our employees. We want to create a culture where employees are accepted, challenged, and recognized for their hard work that gets unnoticed by other employees in the firm.</p>
    <p><a href="https://centricconsulting.com/about-us/centric-experience/" class="btn btn-success">Learn more about The Centric Experience &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Profile Creation</h2>
        
            <p> Create and update your profile regularly as you gain experience and grow within the company </p>
            <p> @Html.ActionLink("userDetails", "Index", "userDetails")</p>
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Create/Login to your profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Core Values</h2>
        <p>Our core values reflect our professional passions and personal convictions.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn about the core values &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recognize</h2>
        <p>Recognize your colleagues on noticable hardwork and achievements </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Recognize colleagues &raquo;</a></p>
    </div>
</div>