@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="http://www.worldoftalentmanagement.com/Media/Default/images/Centric_in_balance_web.jpg" alt="Hi" width="250">
    <h1>Employee Recognition Platform</h1>
    <p class="lead">Here at Centric we care about our employees. We want to create a culture where employees are accepted, challenged, and recognized for their hard work that gets unnoticed by other employees in the firm.</p>
    <p><a href="http://cob.ohio.edu/mis4200Team6/Home/About" class="btn btn-success">Learn more about this application &raquo;</a></p>
</div>



<div class="row">
    <div class="col-md-4">


        @*<p align="center"><a class="btn btn-default" href="https://twitter.com/centric?ref_src=twsrc%5Etfw"> Centric Twitter Page</a></p>*@

        @*<h2 align="center"><a href="https://twitter.com/centric?ref_src=twsrc%5Etfw"> Centric Twitter Page</a></h2>*@

        <h1 align="center" @*style="border:solid"*@>

            <a class="twitter-timeline" width="650" height="250" href="https://twitter.com/centric?ref_src=twsrc%5Etfw">Tweets by centric</a>

            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </h1>

        @*<p>Want to learn more about how we stick to our Core Values? Visit our website to find more information about our employees and how to incorporate the Core Values into your every day life!</p>*@

        @*<p><a class="btn btn-default" href="https://centricconsulting.com/about-us/">Learn more &raquo;</a></p>*@

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Add font awesome icons -->
        @*<a href="#" class="fa fa-facebook" ></a>*@



      
        
       
    </div>
    <div class="col-md-4">
        <h2>Core Values</h2>
        <p>Our core values reflect our professional passions and personal convictions.</p>
        <p> @Html.ActionLink("Our Core Values", "About", "Home", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Recognize</h2>
        <p>Recognize your colleagues on noticable hardwork and achievements </p>
       
        <p> @Html.ActionLink("Give Recognition", "Index", "GiveRecognitions", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>